<!DOCTYPE html>
<html lang="en">
<head>

    <!-- templates/registration/login.html -->
    {% extends 'base.html' %}
{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Welcome to TIP Central</a>
    </h1>
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
    </div>
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}
</head>
<body>

</body>
</html>